tokenizers==0.13.3 # Specified to try and overcome rust errors...
allennlp==2.10.1
allennlp-models==2.10.1
nltk==3.8.1
numpy==1.26.4
# Pattern==0.0.1a0 
scikit_learn==1.5.0
scipy==1.10.1
sentence_transformers==2.2.2
spacy==3.3.3
